@import url("reset.css");
@import url("fonts.css");

body {
	font-family: "Open Sans", "Arial", sans-serif;
}

.header-title,
.main-title {
	font-family: "Rubik Dirt", sans-serif;
	font-size: 32px;
	text-align: center;
	letter-spacing: 2px;
	white-space: nowrap;
	word-spacing: 11px;
}
.header-title span {
	text-shadow: 3px 3px 8px #000;
}
.menu-list-item a {
	color: blue;
	line-height: 21px;
	text-decoration: underline 2px;
	text-underline-offset: 3px;
}
.main-list li {
	font-family: "Tektur", sans-serif;
	line-height: 21px;
}
.game-name {
	text-transform: uppercase;
}

/*тільки для того, щоб картинка була по центру, тому що по-іншому ми поки не можемо ;)*/
.image-container {
	text-align: center;
}

/*=================================================*/

.additional-task {
	font-family: "Poppins", sans-serif;
	line-height: 1.5;
	font-size: 18px;
	color: #808080;
}
.paragraph-top {
	font-size: 20px;
	font-weight: 500;
	color: #1a1a1a;
}
